.tooltip {
  position: absolute;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  margin-left: 10px;
  /* transform: translateY(-50%); */
}

/* Add an arrow */
.tooltip:after {
  content: "";
  position:absolute;
  border-width: 2px; 
  left: -10px;  
  top:50%;
  transform:translateY(-50%);
  border-color: transparent black transparent transparent;
}
